# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Data and models
data/
*.h5
*.pkl
*.pt
*.onnx

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
